:root {
  --button-color: #effeff;
  --button-hover-color: #dfeeef;
  --input-background: #fff;
  --selected-tab-color: #add8e6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: sans-serif;
}
button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}
*:focus {
  outline: #add8e6 solid 3px;
}
@media print {
  .noprint,
  .noprint * {
    display: none !important;
  }
  .printonly {
    text-align: center;
    padding: 5px;
  }
  form {
    display: none;
  }
}
@media screen {
  .printonly {
    display: none;
  }
}
.copy:hover {
  text-decoration: none;
}
.sharing {
  color: black;
}
.top-warning {
  text-align: center;
  background-color: #fee;
  padding: 5px;
  color: black;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-shadow: inset 0 0 5px #aaaaaa, 0 0 5px #aaa;
  border: solid 1px gray;
  height: 2.3em;
  background: var(--button-color);
  border-radius: 1em;
  margin: 5px;
  padding: 0 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
  background: var(--button-hover-color);
  transition: all 0.3s ease;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="url"] {
  box-shadow: inset 0 0 5px #aaaaaa, 0 0 5px #aaaaaa;
  border: solid 3px white;
  border-radius: 1em;
  height: 2.5em;
  background: var(--input-background);
  margin: 5px;
  padding: 0 0.7em;
  width: 15em;
}
input[type="file"] {
  margin: 5px;
}
textarea {
  box-shadow: inset 0 0 5px #aaaaaa, 0 0 5px #aaaaaa;
  border: solid 3px white;
  border-radius: 1em;
  width: auto;
  background: var(--input-background);
  margin: 5px;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 0.7em;
  resize: vertical;
}
textarea:read-only {
  background: #ddd;
  resize: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset 0 0 5px #aaaaaa, 0 0 5px #aaaaaa;
  border: solid 3px white;
  height: 2.5em;
  width: 15em;
  vertical-align: center;
  background: #f0f0f0;
  margin: 5px;
  border-radius: 1em;
  padding: 0 30px 0 10px;
  background-image: url(css//images/arrow.svg);
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
}
input[type="search"] {
  width: 95%;
}
@media (min-width: 600px) {
  input[type="search"] {
    width: 80%;
  }
}
input[type="search"] {
  width: 95%;
  padding-right: 118px;
}
input[type="search"] ~ input[type="submit"] {
  border: 0;
  height: 2em;
  border-radius: 0 0.7em 0.7em 0;
  box-shadow: none;
  box-shadow: inset 0 0 5px #aaaaaa;
}
input[type="submit"].full {
  width: 110px;
  margin-left: -118px;
}
input[type="submit"].short {
  width: 50px;
  margin-left: -58px;
}
input[type="submit"].short {
  display: none;
}
@media (max-width: 500px) {
  input[type="submit"].short {
    display: inline-block;
  }
  input[type="submit"].full {
    display: none;
  }
  input[type="search"] {
    padding-right: 58px;
  }
}
body {
  margin: 0px;
  line-height: 150%;
}
html,
body {
  color: #536482;
  background-color: #f5f7fa;
  background-size: 75px 75px;
  background-image: url(css/images/hexagon.svg);
}
#main {
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e6e9ed;
}
tr {
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input.conv {
  border: 1px solid gray;
  text-align: center;
}
#fullurl {
  width: 70%;
}
td.menu a {
  color: black;
  text-decoration: none;
  margin-left: 2px;
}
.menu {
  vertical-align: middle;
  background: var(--button-color);
  text-align: left;
  padding: 3px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.menu:hover {
  background-color: var(--button-hover-color);
  transition: all 0.3s ease;
}
.menu-selected {
  vertical-align: middle;
  background: var(--selected-tab-color);
  text-align: left;
  padding: 3px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
  border-radius: 4px;
}
.header-selected {
  vertical-align: middle;
  background: #add8e6;
  text-align: center;
  padding: 3px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
  border-radius: 4px;
}
.header-selected h4 {
  margin: 0;
  padding: 3px;
}
td.menu:hover {
  cursor: pointer;
}
td.frontpage {
  vertical-align: middle;
  text-align: center;
}
img.frontpage:hover {
  cursor: pointer;
}
a.frontpage {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: large;
}
.menusection {
  font-size: large;
  font-weight: bold;
}
a.tottttttt {
  font-weight: bold;
  font-size: large;
}
a.pmenu {
  color: red;
  text-decoration: none;
}
a.links {
  color: #0000aa;
  text-decoration: underline;
}
h1.compact {
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
  text-align: center;
}
.jqac-menu {
  color: black;
  background-color: white;
  border: 1px solid #aaa;
}
.jqac-menu ul {
  list-style: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
}
.jqac-menu .jqac-link {
  cursor: pointer;
  display: block;
}
.jqac-menu .jqac-highlight {
  background-color: #ddf;
}
.jqac-menu .jqac-warning {
  font-style: italic;
}
.jqac-menu em {
}
.jqac-menu .jqs-info {
  text-align: right;
  font-style: italic;
  font-size: 0.75em;
  color: #666;
}
.ucForm {
  border-collapse: separate;
  margin: 0 auto;
}
.ucForm td {
  padding: 5px;
}
a.inCaption {
  color: black;
  text-decoration: none;
}
td.ucInFormLabel {
  width: 50%;
  text-align: right;
}
td.ucInFormField {
  text-align: left;
}
td.items_table {
  text-align: center;
  padding: 10px;
}
a.items_table {
  padding: 10px;
  display: block;
  background-color: var(--button-color);
  width: 250px;
  margin: 0 auto;
  color: black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
}
a.items_table:hover {
  text-decoration: none;
  background-color: var(--button-hover-color);
}
.lookup_subject {
  position: relative;
  cursor: pointer;
}
.with_input {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.value_for {
  padding: 0px;
  display: inline-block;
}
.default_value {
  display: none;
}
div.list_sub_items {
  background: #ffffff;
  position: absolute;
  top: 22px;
  left: 0px;
  display: none;
  padding: 3px;
  margin: 0px;
  border: solid 1px #000000;
}
div.sub_item {
  width: 100%;
  padding: 0px;
}
div.sub_item:hover {
  background: #000000;
  color: #ffffff;
}
#output_div {
  text-align: left;
  display: none;
}
#output_unit_name {
  text-align: right;
}
#unitoutput {
  font-weight: bold;
}
#result_div {
  padding: 0px;
  margin: 0px;
}
#result_div:first-letter {
  margin-left: 25px;
}
#result_div:first-line {
  font-weight: bold;
}
#solution_div {
  padding: 0px;
  margin: 0px;
}
#solution_div:first-letter {
  margin-left: 25px;
}
#solution_div:first-line {
  font-weight: bold;
}
a.in_title {
  color: black;
  text-decoration: none;
}
td.td_form_label {
  text-align: right;
}
.title_div {
  padding: 5px;
  font-weight: bold;
}
#description_div,
#equations_div,
#input_div,
#output_div,
.ucForm {
  border: 2px solid #ccc;
  padding: 0.5em;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1em;
}
.input_form {
  width: 100%;
}
#input_div input[type="submit"],
.ucForm input[type="submit"] {
  width: 15em;
}
#description_div:first-letter {
  margin-left: 25px;
}
#equations_div {
}
#input_div {
  display: none;
}
#constants tr td {
  text-align: left;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
table.center {
  margin: 0 auto;
}
.right {
  text-align: right;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.justify {
  text-align: justify;
}
.wide {
  width: 100%;
}
.right {
  float: right;
}
table.cellpadding1 td {
  padding: 1px;
}
table.cellpadding2 td {
  padding: 2px;
}
table.cellpadding3 td {
  padding: 3px;
}
table.cellpadding10 td {
  padding: 10px;
}
.gray {
  color: gray;
}
table.zero {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
img {
  border: 0;
}
table.border,
table.border td {
  border: 1px solid black;
  border-collapse: collapse;
}
.gte {
  color: green;
  font-size: large;
}
.white {
  color: white;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.dym {
  color: brown;
}
.updateable {
  border: 1px solid blue;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.presults {
  border-collapse: collapse;
  margin: 10px auto;
}
table.presults td {
  padding: 10px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 1px 0;
}
table.presults th {
  padding: 10px;
  border: 0px solid gray;
  text-align: center;
  background-color: #ddd;
}
.disp {
  font-size: x-large;
}
#perm_ad {
  padding: 3px;
}
.eq {
  margin: 5px;
}
.middle {
  vertical-align: middle;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
div.blink {
  animation-name: blinker;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.ac-renderer {
  position: absolute;
  background: #eee;
  border: 1px solid #ddd;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, 0.4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, 0.4);
  width: 300px;
}
.ac-row {
  cursor: pointer;
  font-size: 0.8em;
  color: #333;
  padding: 0.4em;
}
.ac-highlighted {
  font-weight: bold;
}
.ac-active {
  color: #eb8f00;
  border: 1px solid #fbd850;
  background-color: #fff;
}
.tooltip {
  background-color: rgba(255, 255, 255, 255);
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  font-size: small;
  border: solid 1px green;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: green transparent transparent transparent;
}
.copy-tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 255);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  color: #555;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
  box-shadow: 3px 3px 3px 0 #ddd;
  border: solid 1px green;
  z-index: 1;
}
.bottom-image {
  margin: 10px;
  border-radius: 0.5em;
  box-shadow: 5px 5px 5px #ccc;
}
.copy-tooltip-arrow-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent green transparent transparent;
}
.copy-tooltip-arrow-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent green;
}
.banner {
  border: 3px solid #ff750b;
  margin: 7px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: block;
  color: black;
}
.banner:hover {
  background: #ffc59b;
  text-decoration: none;
}
input[type="text"],
textarea {
  box-sizing: border-box;
}
.footer {
  color: gray;
  font-size: 12px;
}
.footer a {
  color: gray;
  text-decoration: underline;
}
.symmetry th {
  max-width: 40px;
}
.symmetry a {
  padding: 10px;
  display: block;
  background-color: var(--button-color);
  margin: 0 auto;
  color: black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
  transition: all 0.3s ease;
}
.symmetry td {
  padding: 3px;
}
.symmetry a:hover {
  text-decoration: none;
  background-color: var(--button-hover-color);
  transition: all 0.3s ease;
}
.symmetry a.active {
  background-color: var(--selected-tab-color);
}
.page-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 15px;
}
.page-menu-item {
  display: block;
  padding: 20px;
  display: block;
  width: 250px;
  background-color: var(--button-color);
  color: black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
  justify-self: center;
  align-self: stretch;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.page-menu-item:hover {
  text-decoration: none;
  background-color: var(--button-hover-color);
  transition: all 0.3s ease;
}
table.stoic {
  border-collapse: collapse;
}
table.stoic td,
table.stoic th {
  padding: 12px;
}
@media only screen and (max-width: 500px) {
  table.stoic td,
  table.stoic th {
    padding: 3px;
  }
}
table.format td {
  padding: 7px;
}
.lang strong,
.lang a {
  display: block;
  padding: 3px;
}
#main {
  margin: 0 auto;
  display: grid;
  width: fit-content;
  width: -moz-fit-content;
  grid-template-columns: minmax(min-content, 180px) minmax(800px, min-content);
  background: white;
  color: black;
  border-radius: 10px;
  border: 1px solid #e6e9ed;
}
#content-item {
  grid-column-start: 2;
  grid-row-start: 1;
}
#menu-item {
  grid-column-start: 1;
  grid-row: 1 / 3;
  text-align: center;
}
#language-item {
  display: none;
  text-align: center;
  align-self: end;
  justify-items: center;
}
#footer-item {
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 20px 5px 5px 5px;
  text-align: center;
  align-self: end;
  justify-items: center;
}
#content {
  padding: 7px;
  text-align: center;
}
#top-menu-item {
  display: none;
}
#top-menu-item a {
  padding: 5px 10px;
  background-color: var(--button-color);
  flex-grow: 1;
  text-align: center;
  margin: 5px;
  height: 40px;
  box-shadow: 2px 2px 2px 1px #e0e0ff;
  border-radius: 4px;
  color: black;
  transition: all 0.3s ease;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
}
#top-menu-item a:hover {
  text-decoration: none;
  background-color: var(--button-hover-color);
}
@media only screen and (max-width: 1000px) {
  #main {
    grid-template-columns: 1fr;
  }
  #content-item {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  #footer-item {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  #menu-item {
    display: none;
  }
  #language-item {
    grid-row-start: 3;
    display: block;
  }
  .lang a {
    display: inline-block;
    padding: 10px;
  }
  #top-menu-item {
    display: flex;
    grid-row-start: 1;
    flex-wrap: wrap;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .wide-only {
    display: none;
  }
}
.backTab {
  cursor: pointer !important;
  background-color: var(--button-color) !important;
}
.backTab:hover {
  background-color: var(--button-hover-color) !important;
}
.e {
  color: green;
}
.ne {
  color: blue;
}
table.results {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
}
table.results td {
  transition: all 0.3s ease;
}
div.results {
  padding: 10px 0;
}
table.results > tbody > tr > th {
  background-color: #ffdf9b;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}
table.results > tbody > tr > td {
  background-color: #fff0cf;
  border-bottom: 1px solid gray;
  padding: 10px;
}
table.results > tbody > tr:hover > td {
  background-color: #fffecf;
}
table.results tr:first-child th:first-child {
  border-top-left-radius: 20px;
}
table.results tr:first-child th:last-child {
  border-top-right-radius: 20px;
}
table.results tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
table.results tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
table.results tr:last-child th:first-child {
  border-bottom-left-radius: 20px;
}
table.results tr:last-child th:last-child {
  border-bottom-right-radius: 20px;
}
table.results tr:last-child td,
table.results tr:last-child th {
  border-bottom: 0;
}
@media only screen and (max-width: 600px) {
  div.hscrollable {
    overflow-x: auto;
    width: 95vw;
  }
  table.hscrollable {
  }
  table.hscrollable tbody {
  }
}
table.hscrollable tr td:first-child,
table.hscrollable tr th:first-child {
  left: 0;
  position: sticky;
}
